//Banner Animation Keyframes
@keyframes zoominout {
    0%{
        transform: scale(0.69);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(0.69);
    }
}
@keyframes zoominout2 {
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(-0deg);
    }
}
@keyframes rounded {
    0%{
        transform: rotate(-25deg);
    }
    30%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(-0deg);
    }
    80%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}
// Banner ANimation Keyframes

// All ANimation Keyframes
@keyframes RightiLeft{
   0%{
    transform: translateY(60px);
   }
   50%{
    transform: translateX(50px);
   }
   100%{
    transform: translateY(60px);
   }
}
@keyframes RightiLeft2{
    0%{
        transform: translateY(120px);
       }
       50%{
        transform: translateX(0px);
       }
       100%{
        transform: translateY(120px);
       }
 }

@keyframes RightiLeft3{
    0%{
        transform: translateX(-0px);
    }
    50%{
        transform: translateX(-60px); 
    }
    100%{
        transform: translateX(-0px);
    }
}
@keyframes RightiLeft4{
    0%{
        transform: translateX(-0px);
    }
    50%{
        transform: translateX(-70px); 
    }
    100%{
        transform: translateX(-0px);
    }
}

// @keyframes run {
//     100%{
//         transform: rotate(360deg);
//     }
// }
// All ANimation Keyframes
