


:root{
    --head-color: #494949;
    --theme-color: #234DD4;
    --theme-one: #36517866;
    --theme-two: #99754566;
    --primary-color: #234DD4;
    --secoundary-color: #FEA912;
    --secoundary-one: #2f16;
    --white-color: #fff;
    --black-color: #170808;
    --ratting-color: #FFB32B;
    --pragraph-color: #585858;
    --object-color: #CFCFCF;
    --icon-color: #898989;
    --bg-one: #FFF7F4;
    --bg-two: #FAF8FF;
    --bg-three: #FFFEEC;
    --bg-four: #FFFCFC;
    --bg-five: #F8FFFF;
    --bg-six: #F0F8FF;
    --bg-seven: #F4F4FF;
    --border-color: #ebebee;
}