/*--Button Area Start--*/
/*--Button Area Start--*/
.btn-bg {
	background: none !important;
	transition: all 0.3s ease-in-out;
}
.cmn--btn-4{
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #000;
	  border-radius: 10rem;
	  z-index: -2;
	}
	&:before {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 0%;
	  height: 100%;
	  background-color: red;
	  transition: all .3s;
	  border-radius: 10rem;
	  z-index: -1;
	}
	&:hover {
	  color: #fff;
	  &:before {
		width: 100%;
	  }
	}
}
.cmn--btn {
	border-radius: 5px;
	padding: 12px 32.5px;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	color:var(--white-color);
	text-transform: capitalize;
	transition: all 0.3s;
	background: var(--primary-color);
	position: relative;
	box-shadow: none;
	outline: none;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	&:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--secoundary-color);
	transition: all .6s;
	z-index: -1;
	}
	&:hover {
	color: var(--white-color);
	&:before {
		width: 100%;
	}
	}
}
.cmn--btn-2 {
	border-radius: 5px;
	padding: 12px 32.5px;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	color:var(--head-color);
	text-transform: capitalize;
	transition: all 0.3s;
	background: var(--secoundary-color);
	position: relative;
	box-shadow: none;
	outline: none;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	&:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0%;
	height: 100%;
	background-color: var(--primary-color);
	transition: all .6s;
	z-index: -1;
	}
	&:hover {
		color: var(--white-color);
		&:before {
			width: 100%;
		}
	}
}
.cmn--btn-3 {
	border-radius: 5px;
	padding: 12px 32.5px;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	color:var(--white-color);
	text-transform: capitalize;
	transition: all 0.3s;
	position: relative;
	border: 1px solid var(--head-color) !important;
	box-shadow: none;
	outline: none;
	border: none;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0%;
		height: 100%;
		background-color: var(--primary-color);
		transition: all .6s;
		z-index: -1;
	}
	&:hover {
		color: var(--white-color);
		&:before {
			width: 100%;
		}
	}
}
.btn-group {
	display: flex;
	align-items: center;
	.cmn--btn{
		&:not(:last-child){
			margin-right: 10px;
		}
	}
}

.link-btn{
	color: var(--head-color);
	font-weight: 500;
	font-size: 18px;
	i{
		margin-top: 5px;
		margin-left: 10px;
		color: var(--icon-color);
	}
}
/*--Button Area End--*/
/*--Button Area End--*/